@use "sass:map";
@import "theme";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex: 1; 
}

footer {
    background-color: #666666;
    color: #ffffff;
    
    
    text-align: center;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}